{% extends 'template.html.twig' %}
{% block title %} Numbers {% endblock %}
{% block body %}
    <div class="jumbotron">
        {%if message is defined%}
            {{ message }}
        {% endif %}
    </div>
{% endblock %}
